---
layout: default
title: Hello World!
tagline: Supporting tagline
categories: [GrowYourKnow]
nav_home_class: ""
nav_blog_class: "active"
nav_archive_class: ""
nav_tags_class: ""
---
{% include JB/setup %}

This site is a storehouse for the random thoughts, tips, and musings of me and a few of my friends. We all have varied interests, so it should be a rather eclectic collection of posts.

If there's a particular topic or interest that you would like to hear about, let me know.

{% assign posts_list = site.categories.growyourknow %}
{% assign posts_category = "GrowYourKnow" %}
{% include JB/posts_summary-multiblog %}

